.main_chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__lists
        .main-header__left-box__lists__menber-list
          Member :
        - @group.users.each do |user|
          .main-header__left-box__lists__menbers
            = user.name
    .main-header__edit-btn
      =link_to edit_group_path(@group) do
        Edit

  .messages
    = render partial: "shared/message" , collection:  @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      = f.label :image, class: 'form__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'form__submit'
